.threeJs {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.notFound {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 1;
}